<!DOCTYPE html>
<html>

<head>
    <title>Student</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <h1>{{title}}</h1><br><br>
                    <div id="anchors">
                        <a href='/'>View</a>&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                        <a href='/insert'>Insert</a>&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                        <a href='/search'>Update</a>&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                        <a href='/delete'>Delete</a><br><br><br><br>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                {{#each result.[0]}}
                                <th>{{@key}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each result}}
                            <tr>
                                {{#each this}}
                                {{#if this}}
                                <td>{{this}}</td>
                                {{else}}
                                <td><button id="{{../this.id}}">View</button></td>
                                {{/if}}
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table><br><br>
                    <div id="image">
                        <img id="output">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var decodedJson = decodeURIComponent("{{{hex}}}")
    var data = JSON.parse(decodedJson);

    for (let i = 1; i <= data.length; i++) {
        var btn = document.getElementById(i.toString())
        btn.addEventListener('click', () => {
            document.getElementById('output').src = 'data:image/jpeg;base64,' + data[i - 1]
        })
    }
</script>

</html>